body {
    margin: 0;
}
header {
    background-color: #373738;
    padding: 15px;
}
.heading {
    text-align: center;
    padding: 15px 5px;
    font-size: 30px;
}
header p {
    display: inline-block;
    text-align: center;
}
header li {
    display: inline-block;
    padding: 0px 5px;
}
header ul {
    float: right;
    color: white;
}
.herolmg {
background-color: #EBEBEB;
  padding: 100px 15px;
  text-align: center;
} 
.content {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
}
button {
    padding: 15px;
    background-color: #373738;
  color: white;
  font-size: 15px;
  border-radius: 4px;
}
footer {
    background-color: #373738;
    padding: 5px;
    color: white;
  }
  footer ul {
    list-style: none;
    padding-left: 5px;
  }
  footer li {
    display: inline-block;
    padding: 0px 7px;
  }
  /* My UX Skills Section using CSS flex*/
h1 {
  text-align: center;
}
.flexContainer {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.flexContainer div {
  width: 33%;
  padding: 10px;
  flex-direction: row;
}
/* My Work Section Constructed using CSS Grid*/
.myWork {
  padding: 60px 30px;
  padding-top: 0;
  background-color: #EBEBEB;
}
.workGrid {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 200px;
  grid-template-areas:
  "myArea"
  ;
}
.workGrid img {
  width: 100%;
  max-width: 250px;
  margin: 0 auto;
  display: block;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: px;
}
h3 {
  text-align: center;
}
@media only screen and (max-width: 600){
  .workGrid {
    grid-template-rows: 200px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "myArea"
    ;
  }
}